[submodule "third-party/tinyxml2"]
	path = third-party/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "googletest"]
	path = third-party/googletest
	url = https://github.com/google/googletest.git
